In [3]:
import numpy as np
import pandas as pd

# Creating a NumPy array
numpy_array = np.array([1, 2, 3, 4, 5])
print("NumPy Array:")
print(numpy_array)
print()

# Creating a Pandas Series
pandas_series = pd.Series([10, 20, 30, 40, 50])
print("Pandas Series:")
print(pandas_series)
print()

# Creating a Pandas DataFrame
data = {'Name': ['John', 'Jane', 'Bob', 'Alice', 'Tom'],
        'Age': [25, 32, 41, 28, 35],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
pandas_df = pd.DataFrame(data)
print("Pandas DataFrame:")
print(pandas_df)
print()

# Performing NumPy operations
print("NumPy Operations:")
print("Minimum value in the array:", numpy_array.min())
print("Maximum value in the array:", numpy_array.max())
print("Mean value of the array:", numpy_array.mean())
print()

# Performing Pandas operations
print("Pandas Operations:")
print("Minimum value in the Series:", pandas_series.min())
print("Maximum value in the Series:", pandas_series.max())
print("Mean value of the Series:", pandas_series.mean())
print("Describe the DataFrame:")
print(pandas_df.describe())

NumPy Array:
[1 2 3 4 5]

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Pandas DataFrame:
    Name  Age      City
0   John   25  New York
1   Jane   32    London
2    Bob   41     Paris
3  Alice   28     Tokyo
4    Tom   35    Sydney

NumPy Operations:
Minimum value in the array: 1
Maximum value in the array: 5
Mean value of the array: 3.0

Pandas Operations:
Minimum value in the Series: 10
Maximum value in the Series: 50
Mean value of the Series: 30.0
Describe the DataFrame:
             Age
count   5.000000
mean   32.200000
std     6.220932
min    25.000000
25%    28.000000
50%    32.000000
75%    35.000000
max    41.000000